/* colors */
/*body */
body {
  background-color: #f2f2f2;
  color: #7d7d7d;
  font-family: 'Raleway', sans-serif; }

.masthead {
  height: 95px; }
  .masthead img {
    padding-top: 5px; }

.intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px; }

.tip {
  font-size: 13px;
  color: #CD5C5C;
  padding-bottom: 20px; }

.padBottom {
  padding-bottom: 20px; }

#output {
  padding: 20px 20px 1px 20px;
  -moz-box-shadow: -2px 0px 60px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -2px 0px 60px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 0px 60px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff; }
  #output table,
  #output th,
  #output td {
    border: 1px solid #7d7d7d;
    border-collapse: collapse;
    height: 30px; }
  #output table {
    margin-bottom: 20px;
    width: 100%; }
    #output table td,
    #output table th {
      text-align: center; }

section {
  padding: 50px; }

footer {
  width: 100%;
  padding: 20px; }

input.form-control {
  display: inline-block; }

/* Header */
header {
  background-color: #fff; }

.brderLeft {
  border-left: solid 1px #ededed;
  margin-top: 16px;
  height: 65px; }

h1,
h2 {
  margin: 0px; }

h1 {
  font-size: 20px;
  color: #313131;
  padding-top: 15px; }

h2 {
  font-size: 15px;
  color: #b4b4b4; }

#title {
  color: #7d7d7d; }

/* Form */
.fileCaption,
.sheetname {
  text-align: center;
  font-size: 17px; }
  .fileCaption:before,
  .sheetname:before {
    font-weight: 600; }

.fileCaption:before {
  content: "File Name: "; }

.sheetname:before {
  content: "Sheet Name: "; }

#xlf {
  visibility: hidden; }

#copyTxt {
  opacity: 0; }

.btnDownload,
.browseBtn,
.btnCopy {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
  width: 100px;
  color: #fff; }
  .btnDownload:hover, .btnDownload:active, .btnDownload:focus,
  .browseBtn:hover,
  .browseBtn:active,
  .browseBtn:focus,
  .btnCopy:hover,
  .btnCopy:active,
  .btnCopy:focus {
    color: #fff; }

.copyTable {
  background-color: #00A86B;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  display: inline-block;
  padding: 13px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle; }
  .copyTable:hover, .copyTable:active, .copyTable:focus {
    color: #fff; }

.btnCopy {
  width: 165px;
  background-color: #00A86B; }

.btnDownload {
  background-color: #e06a1b; }

.browseBtn {
  background-color: #448594; }

/* Loadder */
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-ms-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

#loader:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 43%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -22px;
  border-radius: 50%;
  border: 5px solid #f6f;
  border-top-color: #0e0;
  border-right-color: #0dd;
  border-bottom-color: #f90;
  -webkit-animation: spinner .6s linear infinite;
  -moz-animation: spinner .6s linear infinite;
  -o-animation: spinner .6s linear infinite;
  animation: spinner .6s linear infinite; }

.logo {
  width: 300px; }
