/* colors */

$primary-color: #7d7d7d;
$pgBackground: #f2f2f2;
$button1: #438593;
$white: #fff;
$BtnOrange: #e06a1b;
$BtnTeal: #448594;
$BtnGreen: #00A86B;
$tip: #CD5C5C;


/*body */

body {
    background-color: $pgBackground;
    color: $primary-color;
    font-family: 'Raleway', sans-serif;
}

.masthead {
    height: 95px;
    img {
        padding-top: 5px;
    }
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

.tip {
    font-size: 13px;
    color: $tip;
    padding-bottom: 20px;
}

.padBottom {
    padding-bottom: 20px;
}

#output {
    padding: 20px 20px 1px 20px;
    -moz-box-shadow: -2px 0px 60px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -2px 0px 60px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 0px 60px 0px rgba(0, 0, 0, 0.2);
    background-color: $white;

    table,
    th,
    td {
        border: 1px solid $primary-color;
        border-collapse: collapse;
        height: 30px;
    }

    table {
        margin-bottom: 20px;

        width: 100%;
        td,
        th {
            text-align: center;
        }
    }
}

section {
    padding: 50px;
}

footer {
    width: 100%;
    padding: 20px;
}

input.form-control {
    display: inline-block;
}



/* Header */

header {
    background-color: $white;
}

.brderLeft {
    border-left: solid 1px #ededed;
    margin-top: 16px;
    height: 65px;
}

h1,
h2 {
    margin: 0px;
}

h1 {
    font-size: 20px;
    color: #313131;
    padding-top: 15px;
}

h2 {
    font-size: 15px;
    color: #b4b4b4;
}

#title {
    color: $primary-color;
}



/* Form */

.fileCaption,
.sheetname {
    text-align: center;
    font-size: 17px;
    &:before {
        font-weight: 600;
    }
}

.fileCaption {
    &:before {
        content: "File Name: ";
    }
}

.sheetname {
    &:before {
        content: "Sheet Name: ";
    }
}

#xlf {
    visibility: hidden;
}

#copyTxt {
    opacity: 0;
}

.btnDownload,
.browseBtn,
.btnCopy {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 100px;
    color: $white;
    &:hover,
    &:active,
    &:focus {
        color: $white;
    }
}

.copyTable {
    background-color: $BtnGreen;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    display: inline-block;
    padding: 13px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    &:hover,
    &:active,
    &:focus {
        color: $white;
    }
}

.btnCopy {
    width: 165px;
    background-color: $BtnGreen;
}

.btnDownload {
    background-color: $BtnOrange;
}

.browseBtn {
    background-color: $BtnTeal;
}



/* Loadder */

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(spinner) {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 43%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -22px;
    border-radius: 50%;
    border: 5px solid #f6f;
    border-top-color: #0e0;
    border-right-color: #0dd;
    border-bottom-color: #f90;
    -webkit-animation: spinner .6s linear infinite;
    -moz-animation: spinner .6s linear infinite;
    -o-animation: spinner .6s linear infinite;
    animation: spinner .6s linear infinite;
}

.logo{
    width: 300px;
}